<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>WenDev | Login</h1>
    <form method="post" action="/auth/login">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" placeholder="Username">
        <br>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" placeholder="Password">
        <br>
        <div th:if="${param.error}">
            <p>Invalid username or password.</p>
        </div>
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
        <input type="submit" value="submit">
    </form>
</body>
</html>