<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/H-ui.css">
    <link rel="stylesheet" href="css/H-ui.ie.css">
    <link rel="stylesheet" href="css/wendev.css">
    <script src="js/H-ui.js"></script>
    <script src="js/H-ui.min.js"></script>

    <style>
        h2 {
            margin-top: 50px;
            font-size: 2.2rem;
        }

        h3 {
            font-weight: normal;
        }

        .btn {
            width: 200px;
            margin: 15px 0;
        }

        .Huialert-danger {
            font-size: 1rem;
        }

        .navbar-right {
            float: right !important;
            margin-right: -10px;
        }
    </style>
</head>
<body>
<!-- Start NavBar -->
<header class="navbar-wrapper">
    <div class="navbar navbar-black">
        <div class="container cl">
            <a class="logo navbar-logo f-l mr-10 hidden-xs" href="/">江文｜WenDev</a>
            <a aria-hidden="false" class="nav-toggle Hui-iconfont visible-xs" href="javascript:;">&#xe667;</a>
            <div class="blank"></div>

            <nav class="nav navbar-nav navbar-right" role="navigation" id="Hui-navbar">
                <ul class="cl">
                    <li class="current"><a th:href="@{/login}">登录</a></li>
                    <li><a th:href="@{/register}">注册</a></li>
                    <li><a th:href="@{/logout}">注销</a></li>
                    <li><a>关于</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- End NavBar -->

<!-- Start Body -->
<div class="container">
    <h2>WenDev | 登录
        <small>Login</small>
    </h2>

    <form method="post" action="/auth/login" class="form">
        <div class="group">
            <label for="username"></label>
            <h3>用户名
                <small>Username</small>
            </h3>
            <input id="username" name="username" type="text" placeholder="Username" class="input-text radius">
        </div>

        <div class="group">
            <label for="password"></label>
            <h3>密码
                <small>Password</small>
            </h3>
            <input id="password" name="password" type="password" placeholder="Password" class="input-text radius">
        </div>

        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
        <input type="submit" value="submit" class="btn btn-default radius">

        <div th:if="${param.error}" class="Huialert Huialert-danger radius">
            Invalid username or password.
        </div>
    </form>
</div>
<!-- End Body -->

</body>
</html>